*~
*.swp
*.swo

src/intersim2/lex.yy.c
src/intersim2/y.tab.c
src/intersim2/y.tab.h

libcuda/cuobjdump_lexer.c
libcuda/cuobjdump_parser.c
libcuda/cuobjdump_parser.h
libcuda/cuobjdump_parser.output

lib/*
doc/doxygen/html

cuobjdump_to_ptxplus/elf_lexer.cc
cuobjdump_to_ptxplus/elf_parser.cc
cuobjdump_to_ptxplus/elf_parser.hh
cuobjdump_to_ptxplus/elf_parser.output
cuobjdump_to_ptxplus/header_lexer.cc
cuobjdump_to_ptxplus/header_parser.cc
cuobjdump_to_ptxplus/header_parser.hh
cuobjdump_to_ptxplus/header_parser.output
cuobjdump_to_ptxplus/lex.ptx_.c
cuobjdump_to_ptxplus/ptx.output
cuobjdump_to_ptxplus/ptx.tab.c
cuobjdump_to_ptxplus/ptx.tab.h
cuobjdump_to_ptxplus/sass_lexer.cc
cuobjdump_to_ptxplus/sass_parser.cc
cuobjdump_to_ptxplus/sass_parser.hh
cuobjdump_to_ptxplus/sass_parser.output

build/*
tags
*.swp
*~
cscope*
tags
regression.sh

#gcov
*.gcov
*.gcda
*.gcno

#debug_tools
debug_tools/WatchYourStep/data/*
debug_tools/WatchYourStep/ptxjitplus/bin/*
*log
*.o
debug_tools/WatchYourStep/ptxjitplus/config*
debug_tools/WatchYourStep/ptxjitplus/*.xml
debug_tools/WatchYourStep/ptxjitplus/*.icnt
debug_tools/WatchYourStep/ptxjitplus/gpgpu*
debug_tools/WatchYourStep/ptxjitplus/*.old
debug_tools/WatchYourStep/ptxjitplus/ptxjitplus
debug_tools/WatchYourStep/ptxjitplus/*.ptx
*.tmp

# Accel-sim packages used for regressions
accel-sim-framework/
gpu-app-collection/

setup

# OS/IDE specific files
.idea/
.vscode/
.DS_Store
.DS_store
__pycache__/
